.listitem {
  display: grid;
  grid-template-columns: 1.2em 1fr;
  column-gap: 1.2em;
  margin: 0.5em 0;
}

.rank,
.listitem small {
  color: var(--fg-light);
}

.rank {
  text-align: right;
}

.listitem h2,
.listitem small {
  margin: 0;
}

.listitem h2 {
  font-size: 1em;
  font-weight: 400;
}

.listitem h2 a {
  text-decoration: none;
}

.listitem a:visited {
  color: var(--fg-light);
}
