:root {
  --fg: #000000;
  --fg-light: #666666;
  --accent: #ff6600;
}

html,
body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  color: var(--fg);
  overflow-wrap: break-word;
}

a:link {
  color: var(--fg);
}

a:visited {
  color: var(--fg-light);
}

* {
  box-sizing: border-box;
}

@media only screen and (min-width: 300px) and (max-width: 750px) {
  body {
    padding: 0;
    margin: 0;
  }
}
